[access]
	inheritFrom = All-Projects
[project]
	description = A get and publish microservice  which extracts entities from A&AI and publishes them to an event topic.
	state = read only
[access "refs/*"]
	read = group GitHub Replication
	owner = group ldap/onap-gerrit-aai-gap-committers
	owner = group saml/onap-gerrit-aai-gap-committers
